* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --tomato: #f06543ff;
    --platinum: #e8e9ebff;
    --soft-linen: #e0dfd5ff;
    --gunmetal: rgb(30, 33, 34);
    --sandy-brown: #f09d51ff;

    --bg-1: var(--gunmetal); /*Primary background*/
    --bg-2: var(--platinum); /*Secondary background, close to primary*/
    --bg-3: var(--tomato); /*tertiary background, contrast color*/

    --light-text-color: white;
    --dark-text-color: #103136;
    --hover-color: var(--tomato);
    --outline-color-1: white;
}


#satelliteObject{
    position: absolute;
    background-color: transparent;
    width: 60px;
    height: auto;
}

#satelliteObject:active{
    width: 80px;
    height: auto;
}



.syncopate-regular {
  font-family: "Syncopate", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.syncopate-bold {
  font-family: "Syncopate", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.google-sans {
  font-family: "Google Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "GRAD" 0;
}

p {
    margin: 1rem;
    font-family: "Google Sans", sans-serif;
    font-style: normal;
}

#stars{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    background-color: var(--bg-1);
}

.logo-wrapper{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}


body{
    background-color: transparent;
    margin: 0;
    padding: 0;
}

ul{
    font-family: "Google Sans", sans-serif;
    text-align: left;
}

.top-header {
    position: sticky;
    top: 0;
    z-index: 999;
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    padding: 30px 5%; 
    color: var(--light-text-color);
    background-color: var(--gunmetal); 
}

.hamburger{
    display: none;
    cursor: pointer;
}

.bar{
    display:block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    background-color: #ffffff;
    transition: all 0.3s ease-in-out;

}
.logo {
    z-index: 998;
    font-size: 2rem;
    font-weight: 300;
    letter-spacing: 1px;
    font-family: "Syncopate", sans-serif; 
}

.logo a{
    text-decoration: none;
    color: var(--light-text-color)

}

.logo a:hover{
    color: var(--hover-color);
}

.nav-menu{
    display: flex;
    gap: 40px;
    align-items: center;
    overflow: hidden;
}

.nav-menu a{
    text-decoration: none;
    color: var(--light-text-color);
    white-space: 100px;
    font-size: 1.25rem;
    font-weight: 300;
    letter-spacing: 3px;
    white-space: 100px;
    font-family: 'Google Sans', sans-serif; 
    transition: color 0.3s ease;
}

.nav-menu a:hover{
    color: var(--hover-color);
}



main{
    color: var(--light-text-color);
}

.hero-section{
    width:100%;
    min-height: 75vh;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;
}


.headshot{
    filter: grayscale(0%);
    display: inline-block;
    position: relative;
    width: 7em;
    margin-bottom: 1rem;
    height: auto;
    
}

.main-title{
    font-size: 4rem;
    font-weight: 700;
    font-family: "Syncopate", sans-serif;
    color: var(--light-text-color);
}

.section-heading{
    font-family: "Google Sans", sans-serif;
    margin: 1rem;
    font-size: 2rem;
    font-weight: 700;
}

.welcome-section, .project-section, .project-page{
    margin-top: 5vh;
    padding: 2rem;
    text-align: left;
    font-family: "Google Sans", sans-serif;
    font-size: 1.5rem;
}

.project-page{
    color: var(--dark-text-color);
    background-color: var(--bg-2);
}

.welcome-section{
    color:var(--light-text-color);
    background-color:var(--bg-3);
}

.project-section{
    color: var(--dark-text-color);
    background-color: var(--bg-2);
}

.project-grid{
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.project-card{
    font-family: "Google Sans", sans-serif;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color:transparent;
    min-height: 10em;
    padding: 2em;
    box-shadow: 10px 5px 5px rgba(0,0,0,0.1);
    color: var(--dark-text-color);
    transition: background-color 0.3s ease, color 0.3s ease;
    outline: solid var(--tomato) 2px;
}

.project-card:hover{
    background-color: var(--tomato);
    color: var(--soft-linen);
}

.footer{
    color: var(--light-text-color);
    background-color: transparent;
    font-size: 1.25rem;
    font-weight: 300;
    margin-bottom: 10px;
    font-family: 'Google Sans', sans-serif;
    padding: 50px 5%;

}

.copyright{
    font-size:1rem;
}

.subtitle{
    font-size: 1.2rem;
    max-width:  500px;
    font-weight: 400;
    font-family: "Google Sans", sans-serif;
}

.social-links{
    margin: 1rem;
    display: flex;
    align-items: center;
    align-content: center;
    gap: 20px;
}

.social-icon{
    color: var(--light-text-color);
    font-size: 1rem;
    width: 30px;
    transition: color 0.3s ease, transform 0.3s ease;
}

.social-icon:hover{
    color: var(--hover-color);
    justify-content: space-between; 
    transform: translateY(-5px);
}

.goals{
    color: var(--light-text-color);
    min-height: 75vh;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}


.page-subtitle, .page-subtitle-dark{
    text-align: center;
    font-family: "Google Sans", sans-serif;
    font-size: 1.5rem;
    color:var(--light-text-color);
}

.page-subtitle-dark{
    color: var(--tomato);
    font-weight: 700;
}

.software-goals, .hardware-goals, .web-goals, .personal-goals{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    width: 90vw;
    margin-top: 1rem;
    padding: 2em;
    background-color: var(--bg-3);
    color:var(--light-text-color);
    text-align: left;
    font-family: "Google Sans", sans-serif;
    font-size: 1.5rem;
}

.page-heading{
    text-align: center;
    font-family: "Syncopate", sans-serif;
    font-style: normal;
    font-size:3rem;
}

.page-heading-wrapper{
    margin: 2em;
    margin-top: 1em;
}

hr{
    margin-bottom: 2rem;
    margin-top: 2rem;
}

@media (max-width: 768px){

    .logo{
        font-size: 1.5rem;
    }
    .project-grid{
        grid-template-columns: 1fr;
    }
    .hamburger{
        z-index: 998;
        display:block;
    }

    .main-title{
        font-size: 3rem;
    }

    .nav-menu{
        z-index: 997;
        position: fixed;
        left: -100%;
        top: 40px;
        gap: 0;
        flex-direction: column;
        background-color: var(--gunmetal);
        height: 100%;
        width: 100%;
        text-align: center;
        transition: 0.3s ease;
        display:flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    .nav-menu a{
        margin: 20px 0;
    }

    .nav-menu.active{
        left:0;
    }

    .hamburger.active .bar:nth-child(2){
        opacity: 0;
        z-index: 998;
    }

    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
        z-index: 998;
    }

    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
        z-index: 998;
    }

}