body{
    background-color: black;
}


#satelliteObject{
    position: absolute;
    background-color: transparent;
    width: 60px;
    height: auto;
}

#satelliteObject:active{
    width: 80px;
    height: auto;
}

